.team {
    position: relative;
    background-color: $color-purple-3;
    z-index: 1;

    .row {
        padding-top: 2em;
        .col-3 {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .card{
        border: none;
    }
    .team__content {
        border-radius: 10px;
        overflow: hidden;
        z-index: 2;
        text-align: center;
        h5 {
            @include styleText($color-purple-1, $fs-3, $fw-4);
            margin-top: 10px;
            margin-bottom: 0.7em;
        }

        h3 {
            @include styleText($color-black, $fs-6, $fw-5);
            margin-bottom: 1em;
        }

        p {
            line-height: 1.8em;
        }

        transition: all 0.3s ease;
        &:hover {
            box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.3);
        }
    }

    .bg__team__bottom {
        position: absolute;
        bottom: 0;
        z-index: -1;
    }
}
